body {
    margin: 0;
}

.wrapper {
    background-color: white;
    color: rgb(77, 73, 73);
    text-align: center;
    padding: 4em;
}

header {
    padding: 1em 0;
}

h2 {
    font-size: 2.5rem;
    margin: 2em 0 1.2em;
}

h4 {
    font-size: 1rem;
    margin: 2em 0 1.2em;
}

.form-container {
    background-color: rgb(77, 73, 73);
    margin: 2em -1em 0;
    padding: 2em;
}

.input-group {
    color: white;
    font-weight: bold;
    display: block;
    margin-bottom: 1em;
    font-size: 1.2em;
}

input[type=text] {
    border: 1px solid #707070;
    width: 20%;
    padding: 1em;
    border-radius: .5em;
    margin-top: 1.2em;
}

input[type=Email] {
    border: 1px solid #707070;
    width: 20%;
    padding: 1em;
    border-radius: .5em;
    margin-top: 1.2em;
}

input[type=tel] {
    border: 1px solid #707070;
    width: 20%;
    padding: 1em;
    border-radius: .5em;
    margin-top: 1.2em;
}

input-group {
    color: #307D98;
    font-weight: bold;
    display: block;
    margin-bottom: 1em;
    font-size: 1.2em;
}

select {
    color: #959899;
    margin-bottom: 1em;
    font-size: 1em;
    width: 15%;
    padding: 1.2em;
    border-radius: 1em;
    margin-top: 1.2em;
}

 .input-group[type=submit] {
    border-radius: 1em;
    margin-top: 1.2em;
}

button {
    color: white;
    border-radius: 1em;
    width: 15%;
    background-color: rgb(182, 178, 175);
}
